
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<h4>We will send an One-time-Password(OTP) to your mail</h4>

<form method="post">
    <label>Enter your email:</label>
    <input type="text" name="email" class="form-control" required />
    <input type="submit" class="btn btn-success" value="Signup" />
</form>