
@{
    ViewBag.Title = "Login";
}

<h2>Login your account</h2>

<a href="@Url.Action("LoginWithGoogle", "Auth")">You can login using Google account</a><br />
<a href="@Url.Action("LoginWithFacebook", "Auth")">or, login with Facebook account</a>