
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<a href="@Url.Action("LoginWithGoogle", "Auth")">You can sign up using Google account</a><br />
<a href="@Url.Action("LoginWithFacebook", "Auth")">or, Sign up with Facebook account</a>